.destination-items .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 0;
}

.popular-destinations {
  width: 312px;
  margin: 0 auto;
}
.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destination-items .item .img-item {
  width: 100%;
  height: 368px;
  background-position: center;
  background-repeat: no-repeat;
}
.popular-destinations .item.tokyo .img-item {
  background-image: url(../img/tokyo-mobile.jpg);
  background-size: cover;
}
.popular-destinations .item.osaka .img-item {
  background-image: url(../img/osaka-mobile.jpg);
  background-size: cover;
}

.destinations .item header h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin-bottom: 16px;
}
.destinations .item p {
  font-size: 18px;
  font-weight: var(--text-weight);
  line-height: 1.5;
  margin-bottom: 24px;
}

.destination-items .button {
  min-width: 180px;
  text-align: center;
}

.card-content {
    padding: 24px;           
    display: flex;
    flex-direction: column;
    flex-grow: 1;             
}

.card-content footer {
    margin-top: auto; 
}

/* --- TABLET --- */
@media screen and (min-width: 768px) {
  .popular-destinations {
    width: 648px;
  }
  .popular-destinations .item .img-item {
    height: 452px;
  }

  .popular-destinations .item.tokyo .img-item {
    background-image: url(../img/tokyo-tablet-desk.jpg);
  }
  .popular-destinations .item.osaka .img-item {
    background-image: url(../img/osaka-tablet-desk.jpg);
  }

  
}


/* --- DESKTOP LARGO --- */
@media screen and (min-width: 1440px) {
  .popular-destinations {
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .destination-items {
    display: flex !important; 
    flex-direction: row !important; 
    justify-content: center;
    align-items: stretch;     
    gap: 40px;
    width: 100%;
  }

  .destination-items .item {
    width: 580px;            
    flex: 0 0 580px;         
    margin-bottom: 0;        
  }

  .destination-items .item .img-item {
    height: 452px;
  }
}
