@font-face {
  font-family: "Montserrat";
  src: url("../fontes/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}


section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero,
section.bottom-hero {
  width: 100%;
  margin: 0;
}

.hero-img-mobile {
  display: block;
  width: 100%;
  height: 400px;
  background-image: url('../img/bottom-hero-mobile.png');
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}
.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.section-title p {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}
.content-title {
  font-size: 20px;
  font-weight: var(--title-weight);
  line-height: 32px;
}
.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.button {
  min-width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }
  .section-title {
    width: 100%;
  }
  .section-title h2 {
    font-size: 32px;
  }

  .hero-img-mobile {
    display: none;
  }

  .hero-img-tablet {
    width: 100%;
    height: 400px;
    background-image: url('../img/bottom-hero-tablet.png');
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding-right: 120px
  }
  .button:hover {
    background-color: var(--primary-color); 
    cursor: pointer;
  }

  .hero-img-mobile,.hero-img-tablet {
    display: none;
  }

  .hero-img-desktop {
    width: 100%;
    height: 600px;
    background-image: url('../img/bottom-hero-desktop.png');
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 120px; /* Mais espaço nas laterais no desktop */
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
